* {
    margin: 0;
}

header{
    background-image:url('./Images/9ab377872a0d4129a4a95bed6492f901photoshop1/photoshop/design-assets/bgk-header.png');
}
nav {
    display: flex;
    justify-content: space-around;
    padding:20px 50px 0 50px;
}

nav a{
    color: aliceblue;
    font-family:system-ui;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    padding:0 10px 0 10px;
}
.navbar a:hover{
    color:rgb(90, 211, 171);
    transition: 0.2s;
    font-size: 22px;
}
span{
    color:rgb(69, 211, 164);
    font-size: 40px;
    padding:1px 10px 20px 0;
}

#hero-section {
    color:aliceblue;
    text-align: center;
    margin:130px 350px 0 350px;  
}
header section >  h2{
    font-weight: bolder;
    font-size: 30px;
    border-bottom: 1px rgb(74, 219, 171) solid;
    border-width: 1px;
}
header section > h2, p{
    padding:20px;
}
header button{
    padding:10px;
    margin:20px 0 120px 700px;
    color: aquamarine;
    border-color:aquamarine;
    border-radius: 1px solid;
   
   
}

#our_story-section {
    color: green
}
.flexbox-container-2{
    display: flex;
    justify-content: center;
    
    
}

.flexbox-item-1 {
    display: flex;
    justify-content: center
}

.flexbox-item-2 {
    display: flex;
    justify-content: center
}

#watch-section {
    color: darkred
}

.flexbox-item-3 {
    display: flex;
    justify-content: center;
    background-image: url(images/9ab377872a0d4129a4a95bed6492f901photoshop1/photoshop/design-assets/bgk-middle.png);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
    height: 500px;
    
}




#expertise-section {
    color: fuchsia
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%

}

.child {
    height: 600px,
    width: 600px;
    border: 1px;
    flex-direction: column;
    
}

#team-section {
    color: yellowgreen
}

#contact_client-section {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 5fr;
    color:lightsalmon
}


footer {
    display:flex;
    background-image: url('./Images/9ab377872a0d4129a4a95bed6492f901photoshop1/photoshop/design-assets/bgk-footer.png');
    color:aliceblue;
    justify-content: space-around;
}
footer > .footer1, .footer2, .footer3{
    width:33.33%;
    padding:20px 130px 0 130px;
}
.footer3 > h2{
    padding-top:55px;
    font-size: 15px;
    font-family:system-ui;

}
.footer3 .searchbar{
    margin-top:20px;
}
.footer3 img{
    margin-top:20px;
}
.footer3 img{
    width:30px;
}