* {
    margin: 0;
}

nav {
    color: red
}

#hero-section {
    color: blue
}

#our_story-section {
    color: green
}


.flexbox-container-3 {
    display: flex;
    justify-content: center;
    background-image: url(images/9ab377872a0d4129a4a95bed6492f901photoshop1/photoshop/design-assets/bgk-middle.png);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    height: 500px;
    
}

.flexbox-item-3 {
    padding: 500px;

.team-section {
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.container4 {
    display: flex;
    height: 600px,
    width: 600px;
}


#expertise-section {
    color: fuchsia
}

#team-section {
    color: yellowgreen
}

#contact_client-section {
    color:lightsalmon
}

footer {
    color: blueviolet
}